<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <title>Playlist Generator for Spotify</title>
</head>
<body>
    <div class="content">
        <h1>Playlist Generator for Spotify</h1>
        <p>Generate your Spotify playlist based on your favorite artists.</p>
        <div class="buttons">
            <a href="/start" class="btn">Start Without Login</a>
            <a href="/login" class="btn">Login to Spotify</a>
        </div>
    </div>
</body>
</html>
